.catagory-news
{
    display: flex;
    flex-direction: row;

}
.articleone,.articlist
{
    padding: 20px;
}
.articleone
{
    width: 60%;
}
.articlist
{
    width: 40%;
}
.articleone .news-thumbnail
{
    width: 100%;
    height: 70%;
}
.articleone .news-title h2
{
    font-size: 1.7em;
    font-weight: 600;
}
.articleone .news-title p
{
    color: gray;
    font-size: 0.7em;
    font-weight: 600;
}
.articleone .thumbnail-description
{
    color: rgb(92, 92, 92);
}
.articlist
{
    display: flex;
     flex-direction: column;
    /*justify-content: center;
    align-items: center; */
}
.listarticle
{
    display: flex;
    flex-direction: row; 
}
.listarticle .thumbnail
{
    height: 100%;
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.listarticle .article-des
{
    height: 100%;
    width: 70%;
    overflow: hidden;
    /* background-color: rgb(0, 255, 34); */
}
.listarticle .thumbnail img
{
    height: 90%;
}
.listarticle .thumbnail ,.article-des
{
 padding: 5px;   
}
.article-des .category
{
    display: inline-block;
    background-color: rgb(37, 37, 129);
    color: #fff;
    padding: 2px;
    border-radius: 5px;
    font-size: .8em;
}
.article-des .title
{
    
    font-size: .9em;
}
.article-des .publish-date
{
    
    font-size: .7em;
}
.listarticle
{
    margin: 10px 0;
}
.loading-news-thumbnail
{
    opacity: .7;
    background-color: #9c9c9c;
    animation: skeleton .5s linear infinite alternate;
}
.loading-news-thumbnail
{
    width: 100%;
    height: 70%;
}
.loading-news-title .loading-line
{
    margin: 5px 0;
    width: 100%;
    height: 20px;
}
.loading-news-title .loading-line:last-child
{
    width: 80%;
}
.loading-news-description,.loading-news-title
{
    margin: 20px 0;
}
.loading-news-description .loading-line
{
    margin: 5px 0;
    width: 100%;
    height: 10px;
}
.loading-news-description .loading-line:last-child
{
    width: 80%;
}
.loading-thumbnail,.loading-category,.loading-line,.loading-date
{
    opacity: .7;
    background-color: #afafaf;
    animation: skeleton .5s linear infinite alternate;
}
@keyframes skeleton {
    0%
    {
        background-color: #afafaf;
    }
    100%
    {
        background-color:#e2e2e2 ;
    }
}
.loading-thumbnail
{
    height: 80px;
    width: 30%;
}
.loading-category
{
    height: 15px;
    width: 45px;
    border-radius: 5px;
}
.loading-title .loading-line
{
    margin: 5px 0;
    width: 100%;
    height: 10px;
}
.loading-title .loading-line:last-child
{
    width: 80%;
}
.loading-date
{
    height: 10px;
    width: 45px;
}
@media screen and (max-width:1090px){
    .catagory-news
{
    display: flex;
    flex-direction: column;
}
.articleone
{
    width: 100%;
}
.articlist
{
    width: 100%;
}
.loading-news-thumbnail
{
    height: 30vh;
    width: 100%;
}
    
}