.footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.footer span {
    font-weight: 700;
    color: #be123c;
}

@media screen and (max-width:400px) {
    .footer {
        font-size: .8em;
    }

}