:root {
  --theme-txt: rgb(230, 105, 55);
  --background: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: var(--background);
}

a {
  text-decoration: none;
}